[Desktop Entry]
Name=Autorun
Name[cs]=Autorun
Name[da]=Autorun
Name[de]=Autorun
Name[es]=Autorun
Name[fr]=Autorun
Name[is]=Autorun
Name[it]=Autorun
Name[ja]=オートラン
Name[ko]=Autorun
Name[no]=Autorun
Name[pt]=Autorun
Name[ru]=Autorun
Name[sv]=Autorun
Name[tr]=Autorun
Name[zh_CN]=Autorun
Name[zh_TW]=Autorun
Comment=Autorun - the CD-ROM mounter for the lazy user
Comment[cs]=Autorun - připojovač CD-ROM pro líného uživatele
Comment[da]=Autorun - CD-montering for den dovne bruger
Comment[de]=Autorun - der CD-ROM Mounter für den trägen Benutzer
Comment[es]=Autorun - el montador de CD-ROM para el usuario holgazán
Comment[fr]=Autorun - le monteur de CD-ROM pour les paresseux
Comment[is]=Autorun - Geisladrifstengill fyrir lata notandann
Comment[it]=Autorun - il CD-ROM mounter per gli utenti più pigri!
Comment[ja]=オートラン---怠け者ユーザーの為のCD-ROMマウンター
Comment[ko]=Autorun - 게으른 사용자를 위한 CD-ROM 마운트 프로그램
Comment[no]=Autorun - CD-montering for den late bruker
Comment[pt]=Autorun - ferramenta para montar CD-ROMS para o utilizador preguiçoso
Comment[ru]=Autorun - программа монтирования CD-ROM для ленивого пользователя
Comment[sv]=Autorun - cd-rommonteraren för den late användaren
Comment[tr]=Autorun - aceleci kullanıcılar için CD-ROM bağlayıcı
Comment[zh_CN]=Autorun - 给喜欢省事的用户提供的光盘挂载器
Comment[zh_TW]=Autorun - 給懶惰使用者的 CD-ROM 掛載器
Exec=/usr/bin/autorun -l --interval=1000 --cdplayer=/usr/bin/kscd
Icon=cdrom_unmount.png
Type=Application
Categories=Application;Utility;X-Red-Hat-Base;
Encoding=UTF-8
